<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button>
					<i class="fa fa-bars"></i>
					<span>sections</span>
				</button>
			</li>
			<li id="search-modal-btn">
				<button>
					<i class="fa fa-search"></i>
					<span>search</span>
				</button>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="subscribe-now">
				<button>SUBSCRIBE NOW</button>
			</li>
			<li id="log-in">
				<button>LOG IN</button>
			</li>
			<li>
				<button>
					<i class="fas fa-cog"></i>
					<span></span>
				</button>
			</li>
		</ul>
	</nav>
</header>