.main-nav {
  display: flex;
  justify-content: stretch;
  padding: 10px 0px 10px 0px;

}

.left-nav > ul,
.right-nav > ul {
  display: flex
  

}

.left-nav {
  align-items: ;
  
  > ul {
    > li {

    }
  }

  button {
    background-color: $lightest-gray;
    color: black;
  }

  span {

  }
}

.right-nav  {
  
  > ul {

    > li {
  
    }

    > li:last-of-type {
      button {
        background-color: $lightest-gray;
        color: black;
      }  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  button {
    background-color: $light-gray;
    border-color: $gray;
  }
    

}
