.section-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $light-gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sections {
    display: flex;
    


    ul {
        display: flex;
        li {
            margin-left: 10px;
            margin-right: 10px
        }
    }
    a {
		margin: 0 5px;
		text-transform: uppercase;
		font-family: $sans-serif;
		font-size: 12px;
		color: black;
		text-decoration: none;
	}
    a:hover {
		text-decoration: underline;
    }
    
    button {
        text-transform: none;
        font-size: 12px;
		background: none;
		padding: 0px;
		color: #000;
		font-weight: normal;
		border: none;
        margin: 0px;
		
	}

	button:hover {
		background-color: $light-gray;
	}

}
